.header{
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.topmenu{
    padding: 3px;
    display: flex;
    gap: 5px;
    background-color: aquamarine;
}
.topmenu div{
    border: 2px solid red;
    background-color: black;
    color: white;
}
.block-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.left-menu{
    background-color: yellow;
    padding: 3px;
}
.left-menu-list{
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.list {
    border-radius: 5px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
}
.list > a{
    border: 2px solid red;
    border-radius: 5px;
    text-decoration: none;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    border: 2px solid rgb(0, 0, 149);
    height: 1200px;
}
.right-content{
    background-color: rgb(85, 255, 0);
    height: 20px;
}
@media screen and (max-width:600px) {
    .topmenu{
        flex-direction: column;
    }
    .content{
        gap: 4px;  
    }
}

.signup {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    gap: 4px;

}

.html {
    position: relative;
}
.frmHeader {
    background-color: #0F3A4E; 
    color: white;
}
.btn-close {
    position: absolute; 
    right: calc(var(--bs-modal-header-padding-x));
}
.btn.submitBtn {
    color: white;
    background-color: #0F3A4E;
}
.btn.submitBtn:hover {
    color: #0D2D3D;
    background-color: #C8DFEA;
}  